<a href="https://colab.research.google.com/github/Nithin46/Project_Dummy/blob/main/IMDB_Enhance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [2]:
Net = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/netflix_titles.csv', low_memory=False)
Net.head(3)

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...

[3 rows x 12 columns]

In [3]:
IMDB = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/IMDb movies.csv',low_memory=False)
IMDB.head(3)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0

[3 rows x 22 columns]

In [4]:
new_ratings = pd.DataFrame({'Title':IMDB.title,
                    'Rating': IMDB.avg_vote})

new_ratings.drop_duplicates(subset=['Title', 'Rating'], inplace=True)

print(new_ratings.shape)
new_ratings.head(5)

(85733, 2)

                         Title  Rating
0                   Miss Jerry     5.9
1  The Story of the Kelly Gang     6.1
2               Den sorte drøm     5.8
3                    Cleopatra     5.2
4                    L'Inferno     7.0

In [5]:
Inner_join_data = new_ratings.merge(Net,left_on='Title', right_on='title', how='inner')
Inner_join_data=Inner_join_data.sort_values(by='Rating', ascending=False)

print(Inner_join_data.shape)
Inner_join_data.head(5)

(2721, 14)

                 Title  ...                                        description
977           Innocent  ...  In a peaceful, rustic town, a retired officer ...
988           Breakout  ...  After losing her family in a suspicious car cr...
389       Pulp Fiction  ...  This stylized crime caper weaves together stor...
371   Schindler's List  ...  Oskar Schindler becomes an unlikely humanitari...
1285         Inception  ...  In this mind-bending sci-fi thriller, a man ru...

[5 rows x 14 columns]

In [6]:
New_Data = Inner_join_data[['Title', 'Rating', 'type']]

New_Data.drop_duplicates(subset=['Title','Rating', 'type'], inplace=True)
print(New_Data.shape)
New_Data.head(5)

(2721, 3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 Title  Rating     type
977           Innocent     9.0  TV Show
988           Breakout     9.0  TV Show
389       Pulp Fiction     8.9    Movie
371   Schindler's List     8.9    Movie
1285         Inception     8.8    Movie

In [7]:
Movies_Data = New_Data[New_Data.type == 'Movie']
TV_Data = New_Data[New_Data.type == 'TV Show']
print(Movies_Data.shape)
TV_Data.shape

(2384, 3)

(337, 3)

In [8]:
Movies_Data = Movies_Data.drop(['type'], axis=1)

In [9]:
Movies_Data

                              Title  Rating
389                    Pulp Fiction     8.9
371                Schindler's List     8.9
1285                      Inception     8.8
2651  Ani... Dr. Kashinath Ghanekar     8.6
598                         Koshish     8.6
...                             ...     ...
832                       The Vault     1.9
571                      Himmatwala     1.7
2175                        Aerials     1.6
1189                           Pink     1.6
1673            Welcome to New York     1.6

[2384 rows x 2 columns]

In [10]:
Movies_Data['Polarity_Rating'] = Movies_Data['Rating'].apply(lambda x: 'Positive' if x > 6 else 'Negative')
Movies_Data

                              Title  Rating Polarity_Rating
389                    Pulp Fiction     8.9        Positive
371                Schindler's List     8.9        Positive
1285                      Inception     8.8        Positive
2651  Ani... Dr. Kashinath Ghanekar     8.6        Positive
598                         Koshish     8.6        Positive
...                             ...     ...             ...
832                       The Vault     1.9        Negative
571                      Himmatwala     1.7        Negative
2175                        Aerials     1.6        Negative
1189                           Pink     1.6        Negative
1673            Welcome to New York     1.6        Negative

[2384 rows x 3 columns]

In [11]:
fig = px.pie(values=Movies_Data['Polarity_Rating'].value_counts(), 
             names=Movies_Data['Polarity_Rating'].value_counts().index)
fig.show()

In [12]:
Positive = Movies_Data[Movies_Data['Polarity_Rating'] == 'Positive']
Negative = Movies_Data[Movies_Data['Polarity_Rating'] == 'Negative']

print(Positive.shape)
Negative.shape

(1206, 3)

(1178, 3)

In [13]:
df = Movies_Data[['Title','Polarity_Rating']]
df

                              Title Polarity_Rating
389                    Pulp Fiction        Positive
371                Schindler's List        Positive
1285                      Inception        Positive
2651  Ani... Dr. Kashinath Ghanekar        Positive
598                         Koshish        Positive
...                             ...             ...
832                       The Vault        Negative
571                      Himmatwala        Negative
2175                        Aerials        Negative
1189                           Pink        Negative
1673            Welcome to New York        Negative

[2384 rows x 2 columns]

In [14]:
one_hot = pd.get_dummies(df["Polarity_Rating"])
df.drop(['Polarity_Rating'],axis=1,inplace=True)
df = pd.concat([df,one_hot],axis=1)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                              Title  Negative  Positive
389                    Pulp Fiction         0         1
371                Schindler's List         0         1
1285                      Inception         0         1
2651  Ani... Dr. Kashinath Ghanekar         0         1
598                         Koshish         0         1
...                             ...       ...       ...
832                       The Vault         1         0
571                      Himmatwala         1         0
2175                        Aerials         1         0
1189                           Pink         1         0
1673            Welcome to New York         1         0

[2384 rows x 3 columns]

In [15]:
X = df['Title'].values
y = df.drop('Title', axis=1).values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=42)

In [16]:
X_train

array(['Anchor and Hope', 'Kya Kehna', 'VS.', ..., 'Leap Year',
       'The Breaker Upperers', 'The Rehearsal'], dtype=object)

In [17]:
y_train

array([[0, 1],
       [1, 0],
       [1, 0],
       ...,
       [0, 1],
       [1, 0],
       [0, 1]], dtype=uint8)

In [18]:
vect = CountVectorizer()
X_train = vect.fit_transform(X_train)
X_test = vect.transform(X_test)

In [19]:
tfidf = TfidfTransformer()
X_train = tfidf.fit_transform(X_train)
X_test = tfidf.transform(X_test)
X_train = X_train.toarray()
X_test = X_test.toarray()

In [20]:
model = Sequential()

model.add(Dense(units=12673,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=4000,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=500,activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(units=2, activation='sigmoid'))

opt=tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=4)

In [21]:
model.fit(x=X_train, y=y_train, batch_size=100, epochs=50, validation_data=(X_test, y_test), verbose=1, callbacks=early_stop)

Epoch 1/50
22/22 [==============================] - 3s 99ms/step - loss: 0.7028 - accuracy: 0.4935 - val_loss: 0.6825 - val_accuracy: 0.5732
Epoch 2/50
22/22 [==============================] - 1s 66ms/step - loss: 0.4824 - accuracy: 0.8616 - val_loss: 0.8491 - val_accuracy: 0.5481
Epoch 3/50
22/22 [==============================] - 1s 66ms/step - loss: 0.2254 - accuracy: 0.9119 - val_loss: 0.8811 - val_accuracy: 0.5983
Epoch 4/50
22/22 [==============================] - 1s 65ms/step - loss: 0.1648 - accuracy: 0.9181 - val_loss: 0.9695 - val_accuracy: 0.5774
Epoch 5/50
22/22 [==============================] - 1s 67ms/step - loss: 0.1425 - accuracy: 0.9171 - val_loss: 1.1013 - val_accuracy: 0.5607
Epoch 00005: early stopping

In [22]:
model_score = model.evaluate(X_test, y_test, batch_size=64, verbose=1)
print('Test accuracy:', model_score[1])

4/4 [==============================] - 0s 11ms/step - loss: 1.1013 - accuracy: 0.5607
Test accuracy: 0.560669481754303

In [23]:
preds = model.predict(X_test)
preds

array([[0.612349  , 0.4297736 ],
       [0.9516913 , 0.13266265],
       [0.53155893, 0.48956534],
       [0.45316383, 0.5525985 ],
       [0.5088444 , 0.5067268 ],
       [0.5793237 , 0.45383412],
       [0.55439496, 0.4650781 ],
       [0.98941386, 0.05467955],
       [0.07311551, 0.9345067 ],
       [0.4814024 , 0.52648807],
       [0.9474665 , 0.1392333 ],
       [0.55439496, 0.4650781 ],
       [0.9799033 , 0.07913845],
       [0.52699864, 0.4961787 ],
       [0.55439496, 0.4650781 ],
       [0.43438452, 0.57018065],
       [0.28018266, 0.7197895 ],
       [0.55439496, 0.4650781 ],
       [0.4691113 , 0.5379197 ],
       [0.55439496, 0.4650781 ],
       [0.09142755, 0.91636914],
       [0.9188905 , 0.17938527],
       [0.78312355, 0.31149566],
       [0.55439496, 0.4650781 ],
       [0.99752   , 0.02239846],
       [0.99489474, 0.03455364],
       [0.5639634 , 0.4654439 ],
       [0.5271595 , 0.49476388],
       [0.55439496, 0.4650781 ],
       [0.5753001 , 0.46061176],
       [0.968844  , 0.10195456],
       [0.930252  , 0.16400172],
       [0.24031165, 0.7626098 ],
       [0.10410696, 0.9054942 ],
       [0.9866529 , 0.06224809],
       [0.2584007 , 0.7436948 ],
       [0.5753001 , 0.46061176],
       [0.5753001 , 0.46061176],
       [0.55439496, 0.4650781 ],
       [0.86272603, 0.24107456],
       [0.99301225, 0.04184161],
       [0.9870652 , 0.06059273],
       [0.5753001 , 0.46061176],
       [0.55439496, 0.4650781 ],
       [0.4907482 , 0.5239258 ],
       [0.55439496, 0.4650781 ],
       [0.4183009 , 0.58094674],
       [0.4566584 , 0.5506887 ],
       [0.05295354, 0.95367324],
       [0.55439496, 0.4650781 ],
       [0.5753001 , 0.46061176],
       [0.6774628 , 0.38529596],
       [0.9798456 , 0.07967476],
       [0.55698514, 0.47011474],
       [0.56740886, 0.4593848 ],
       [0.55439496, 0.4650781 ],
       [0.06205749, 0.94464564],
       [0.55439496, 0.4650781 ],
       [0.1547259 , 0.85028094],
       [0.99489474, 0.03455364],
       [0.55439496, 0.4650781 ],
       [0.18874328, 0.81437355],
       [0.8974288 , 0.20730004],
       [0.16387205, 0.84514046],
       [0.5753001 , 0.46061176],
       [0.5067251 , 0.50410473],
       [0.41159704, 0.58594835],
       [0.55439496, 0.4650781 ],
       [0.5540886 , 0.47034907],
       [0.127233  , 0.88145983],
       [0.55439496, 0.4650781 ],
       [0.07886893, 0.9291028 ],
       [0.55439496, 0.4650781 ],
       [0.9882929 , 0.05717305],
       [0.55439496, 0.4650781 ],
       [0.6753074 , 0.3851238 ],
       [0.8328263 , 0.26892447],
       [0.08208789, 0.9258047 ],
       [0.89918166, 0.2002801 ],
       [0.5502485 , 0.47624132],
       [0.5539397 , 0.47296917],
       [0.55439496, 0.4650781 ],
       [0.954868  , 0.12853976],
       [0.55439496, 0.4650781 ],
       [0.8387827 , 0.26368186],
       [0.07600766, 0.9317792 ],
       [0.85180926, 0.2541486 ],
       [0.9841967 , 0.06938675],
       [0.70433843, 0.36685354],
       [0.99279964, 0.04298388],
       [0.9152921 , 0.18393698],
       [0.4399275 , 0.55927545],
       [0.9263312 , 0.17104611],
       [0.98833674, 0.0574336 ],
       [0.12880418, 0.87943363],
       [0.99277955, 0.04337977],
       [0.4680819 , 0.5417007 ],
       [0.55439496, 0.4650781 ],
       [0.5551615 , 0.47375846],
       [0.9802802 , 0.078683  ],
       [0.07031643, 0.93699896],
       [0.9925735 , 0.04365328],
       [0.9917121 , 0.04659642],
       [0.10608286, 0.9019514 ],
       [0.0918014 , 0.91603   ],
       [0.5502485 , 0.47624132],
       [0.9751422 , 0.09017979],
       [0.03864594, 0.96665555],
       [0.64445907, 0.40717682],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.07031471, 0.9370791 ],
       [0.9337769 , 0.1593065 ],
       [0.9880447 , 0.05856675],
       [0.55439496, 0.4650781 ],
       [0.9832144 , 0.07150359],
       [0.06685419, 0.9405875 ],
       [0.5753001 , 0.46061176],
       [0.9904349 , 0.05064469],
       [0.07652745, 0.93078464],
       [0.03940586, 0.96614134],
       [0.5351454 , 0.48591122],
       [0.44990903, 0.5544898 ],
       [0.671017  , 0.38790512],
       [0.41159704, 0.58594835],
       [0.55439496, 0.4650781 ],
       [0.9758918 , 0.08829591],
       [0.8536578 , 0.25314602],
       [0.55439496, 0.4650781 ],
       [0.06037853, 0.9460919 ],
       [0.59747905, 0.43617707],
       [0.16886224, 0.8386305 ],
       [0.90843195, 0.19249584],
       [0.03797665, 0.96725154],
       [0.8308377 , 0.27348182],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.99510336, 0.03392956],
       [0.03346618, 0.971347  ],
       [0.05000063, 0.9560263 ],
       [0.55439496, 0.4650781 ],
       [0.69929636, 0.37104532],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.8532478 , 0.24899743],
       [0.55439496, 0.4650781 ],
       [0.61640507, 0.42542368],
       [0.5753001 , 0.46061176],
       [0.10921393, 0.899533  ],
       [0.55439496, 0.4650781 ],
       [0.9875525 , 0.05942255],
       [0.5753001 , 0.46061176],
       [0.5236898 , 0.4986057 ],
       [0.5502485 , 0.47624132],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.5753001 , 0.46061176],
       [0.5753001 , 0.46061176],
       [0.18357004, 0.8250598 ],
       [0.6978175 , 0.37012017],
       [0.07622847, 0.9310494 ],
       [0.49983388, 0.51515526],
       [0.9862109 , 0.06220688],
       [0.55439496, 0.4650781 ],
       [0.8931036 , 0.20959415],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.99752   , 0.02239846],
       [0.15863217, 0.84918904],
       [0.2287727 , 0.77380574],
       [0.5753001 , 0.46061176],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.4566584 , 0.5506887 ],
       [0.55439496, 0.4650781 ],
       [0.09271475, 0.9152826 ],
       [0.55439496, 0.4650781 ],
       [0.53155893, 0.48956534],
       [0.5753001 , 0.46061176],
       [0.55439496, 0.4650781 ],
       [0.9901731 , 0.05152879],
       [0.4680819 , 0.5417007 ],
       [0.06785328, 0.9395479 ],
       [0.9832154 , 0.0707601 ],
       [0.98673135, 0.06190511],
       [0.55439496, 0.4650781 ],
       [0.1547259 , 0.85028094],
       [0.5455244 , 0.48016745],
       [0.5717075 , 0.45815754],
       [0.4566584 , 0.5506887 ],
       [0.9671166 , 0.10560257],
       [0.7393012 , 0.33978638],
       [0.87915015, 0.22398177],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.56703967, 0.46147522],
       [0.55439496, 0.4650781 ],
       [0.48499903, 0.524653  ],
       [0.56644994, 0.45944685],
       [0.5753001 , 0.46061176],
       [0.09538828, 0.91249186],
       [0.87463665, 0.229907  ],
       [0.3829199 , 0.6141235 ],
       [0.49109066, 0.5207727 ],
       [0.5114286 , 0.5042383 ],
       [0.97741914, 0.08503447],
       [0.07437766, 0.9337508 ],
       [0.5051806 , 0.5098462 ],
       [0.28957728, 0.7102552 ],
       [0.77996475, 0.3130109 ],
       [0.04577603, 0.9601273 ],
       [0.5753001 , 0.46061176],
       [0.07971984, 0.9281965 ],
       [0.55439496, 0.4650781 ],
       [0.5116284 , 0.50257766],
       [0.63284475, 0.41295242],
       [0.5749245 , 0.4538737 ],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.600635  , 0.43947986],
       [0.49885893, 0.5152805 ],
       [0.55439496, 0.4650781 ],
       [0.9114278 , 0.1866996 ],
       [0.55439496, 0.4650781 ],
       [0.4814024 , 0.52648807],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.9755339 , 0.08904478],
       [0.4038746 , 0.59439766],
       [0.95810777, 0.12247868],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.55439496, 0.4650781 ],
       [0.9987562 , 0.01436242],
       [0.3806284 , 0.6174025 ],
       [0.4445728 , 0.55676484],
       [0.55439496, 0.4650781 ],
       [0.97590363, 0.08794455]], dtype=float32)