<a href="https://colab.research.google.com/github/Nithin46/Project_Dummy/blob/main/IMDB_Ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import string
from string import punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import plotly.express as px


import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.callbacks import EarlyStopping

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [45]:
Net = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/netflix_titles.csv', low_memory=False)
Net.head(3)

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...

[3 rows x 12 columns]

In [46]:
IMDB = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project/IMDb movies.csv',low_memory=False)
IMDB.head(3)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0

[3 rows x 22 columns]

In [47]:
new_ratings = pd.DataFrame({'Title':IMDB.title,
                    'Rating': IMDB.avg_vote,
                           'Year' : IMDB.year})

new_ratings.drop_duplicates(subset=['Title','Year','Rating'], inplace=True)

print(new_ratings.shape)
new_ratings.head(5)

(85852, 3)

                         Title  Rating  Year
0                   Miss Jerry     5.9  1894
1  The Story of the Kelly Gang     6.1  1906
2               Den sorte drøm     5.8  1911
3                    Cleopatra     5.2  1912
4                    L'Inferno     7.0  1911

In [48]:
Inner_join_data = new_ratings.merge(Net,left_on='Title', right_on='title', how='inner')
Inner_join_data=Inner_join_data.sort_values(by='Rating', ascending=False)

print(Inner_join_data.shape)
Inner_join_data.head(5)

(2739, 15)

                 Title  ...                                        description
991           Innocent  ...  In a peaceful, rustic town, a retired officer ...
1002          Breakout  ...  After losing her family in a suspicious car cr...
398       Pulp Fiction  ...  This stylized crime caper weaves together stor...
380   Schindler's List  ...  Oskar Schindler becomes an unlikely humanitari...
1301         Inception  ...  In this mind-bending sci-fi thriller, a man ru...

[5 rows x 15 columns]

In [49]:
New_Data = pd.DataFrame({'Title':Inner_join_data.title,
                    'Rating': Inner_join_data.Rating,
                    'Type': Inner_join_data.type,
                           'Year' : Inner_join_data.release_year})

New_Data.drop_duplicates(subset=['Title','Rating', 'Type', 'Year'], inplace=True)
print(New_Data.shape)
New_Data.head(5)

(2721, 4)

                 Title  Rating     Type  Year
991           Innocent     9.0  TV Show  2017
1002          Breakout     9.0  TV Show  2010
398       Pulp Fiction     8.9    Movie  1994
380   Schindler's List     8.9    Movie  1993
1301         Inception     8.8    Movie  2010

In [50]:
Movies_Data = New_Data[New_Data.Type == 'Movie']
TV_Data = New_Data[New_Data.Type == 'TV Show']
print(Movies_Data.shape)
TV_Data.shape

(2384, 4)

(337, 4)

In [51]:
Movies_Data = Movies_Data.drop(['Type', 'Year'], axis=1)

In [52]:
Movies_Data

                       Title  Rating
398             Pulp Fiction     8.9
380         Schindler's List     8.9
1301               Inception     8.8
1669  Much Ado About Nothing     8.6
227                 Gol Maal     8.6
...                      ...     ...
876                 End Game     1.9
582               Himmatwala     1.7
2193                 Aerials     1.6
1205                    Pink     1.6
1690     Welcome to New York     1.6

[2384 rows x 2 columns]

In [53]:
Movies_Data['Polarity_Rating'] = Movies_Data['Rating'].apply(lambda x: 'Positive' if x > 6 else 'Negative')
Movies_Data

                       Title  Rating Polarity_Rating
398             Pulp Fiction     8.9        Positive
380         Schindler's List     8.9        Positive
1301               Inception     8.8        Positive
1669  Much Ado About Nothing     8.6        Positive
227                 Gol Maal     8.6        Positive
...                      ...     ...             ...
876                 End Game     1.9        Negative
582               Himmatwala     1.7        Negative
2193                 Aerials     1.6        Negative
1205                    Pink     1.6        Negative
1690     Welcome to New York     1.6        Negative

[2384 rows x 3 columns]

In [54]:
fig = px.pie(values=Movies_Data['Polarity_Rating'].value_counts(), 
             names=Movies_Data['Polarity_Rating'].value_counts().index)
fig.show()

In [55]:
Positive = Movies_Data[Movies_Data['Polarity_Rating'] == 'Positive']
Negative = Movies_Data[Movies_Data['Polarity_Rating'] == 'Negative']

print(Positive.shape)
Negative.shape

(1206, 3)

(1178, 3)

In [56]:
df = Movies_Data[['Title','Polarity_Rating']]
df

                       Title Polarity_Rating
398             Pulp Fiction        Positive
380         Schindler's List        Positive
1301               Inception        Positive
1669  Much Ado About Nothing        Positive
227                 Gol Maal        Positive
...                      ...             ...
876                 End Game        Negative
582               Himmatwala        Negative
2193                 Aerials        Negative
1205                    Pink        Negative
1690     Welcome to New York        Negative

[2384 rows x 2 columns]

In [57]:
one_hot = pd.get_dummies(df["Polarity_Rating"])
df.drop(['Polarity_Rating'],axis=1,inplace=True)
df = pd.concat([df,one_hot],axis=1)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                       Title  Negative  Positive
398             Pulp Fiction         0         1
380         Schindler's List         0         1
1301               Inception         0         1
1669  Much Ado About Nothing         0         1
227                 Gol Maal         0         1
...                      ...       ...       ...
876                 End Game         1         0
582               Himmatwala         1         0
2193                 Aerials         1         0
1205                    Pink         1         0
1690     Welcome to New York         1         0

[2384 rows x 3 columns]

In [58]:
X = df['Title'].values
y = df.drop('Title', axis=1).values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [59]:
X_train

array(['Golmaal: Fun Unlimited', 'Red Christmas', 'The Model', ...,
       'Dark Waters', 'World Trade Center', 'Lust Stories'], dtype=object)

In [60]:
y_train

array([[0, 1],
       [1, 0],
       [1, 0],
       ...,
       [0, 1],
       [1, 0],
       [0, 1]], dtype=uint8)

In [61]:
vect = CountVectorizer()
X_train = vect.fit_transform(X_train)
X_test = vect.transform(X_test)

In [62]:
tfidf = TfidfTransformer()
X_train = tfidf.fit_transform(X_train)
X_test = tfidf.transform(X_test)
X_train = X_train.toarray()
X_test = X_test.toarray()

In [65]:
model = Sequential()

model.add(Dense(units=12673,activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(units=4000,activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(units=500,activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(units=2, activation='sigmoid'))

opt=tf.keras.optimizers.Adam(learning_rate=0.001)
model.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])

early_stop = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=2)

In [66]:
model.fit(x=X_train, y=y_train, batch_size=200, epochs=100, validation_data=(X_test, y_test), verbose=1, callbacks=early_stop)

Epoch 1/100
10/10 [==============================] - 4s 129ms/step - loss: 0.7001 - accuracy: 0.5118 - val_loss: 0.6945 - val_accuracy: 0.5367
Epoch 2/100
10/10 [==============================] - 1s 92ms/step - loss: 0.6137 - accuracy: 0.6899 - val_loss: 0.8731 - val_accuracy: 0.5346
Epoch 3/100
10/10 [==============================] - 1s 90ms/step - loss: 0.2695 - accuracy: 0.9035 - val_loss: 1.4506 - val_accuracy: 0.4969
Epoch 00003: early stopping

In [67]:
model_score = model.evaluate(X_test, y_test, batch_size=64, verbose=1)
print('Test accuracy:', model_score[1])

8/8 [==============================] - 0s 14ms/step - loss: 1.4506 - accuracy: 0.4969
Test accuracy: 0.49685534834861755

In [68]:
preds = model.predict(X_test)
preds

array([[0.53357327, 0.39042872],
       [0.9016719 , 0.06655823],
       [0.16573182, 0.7900198 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.7527511 , 0.19449466],
       [0.54132855, 0.43884817],
       [0.07484142, 0.8980285 ],
       [0.10242233, 0.862663  ],
       [0.54132855, 0.43884817],
       [0.5050116 , 0.41891927],
       [0.54132855, 0.43884817],
       [0.8395019 , 0.11876816],
       [0.07460161, 0.8980781 ],
       [0.97635776, 0.01173779],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.59234715, 0.33536902],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.07568342, 0.89809656],
       [0.76960456, 0.17669675],
       [0.80778795, 0.1448675 ],
       [0.5050116 , 0.41891927],
       [0.47025478, 0.45683226],
       [0.69643366, 0.2410907 ],
       [0.54132855, 0.43884817],
       [0.40695605, 0.52587074],
       [0.54132855, 0.43884817],
       [0.3689897 , 0.55376405],
       [0.19500628, 0.7567101 ],
       [0.05143354, 0.93040955],
       [0.85495985, 0.10675395],
       [0.0212591 , 0.96853495],
       [0.12132982, 0.8393913 ],
       [0.94215477, 0.03524237],
       [0.06505591, 0.91364324],
       [0.9355494 , 0.03984014],
       [0.065364  , 0.9122035 ],
       [0.901712  , 0.06619508],
       [0.90543175, 0.06336351],
       [0.54132855, 0.43884817],
       [0.9465974 , 0.03144739],
       [0.90596616, 0.0631358 ],
       [0.95406675, 0.02647788],
       [0.9019034 , 0.06536723],
       [0.9159584 , 0.0548391 ],
       [0.24668032, 0.6967713 ],
       [0.54132855, 0.43884817],
       [0.3689897 , 0.55376405],
       [0.62135553, 0.3105372 ],
       [0.54132855, 0.43884817],
       [0.9622266 , 0.02069928],
       [0.91055214, 0.05974825],
       [0.54132855, 0.43884817],
       [0.16879   , 0.7837456 ],
       [0.10453815, 0.8616814 ],
       [0.92657727, 0.04611326],
       [0.09403045, 0.8740148 ],
       [0.9530958 , 0.02743873],
       [0.54132855, 0.43884817],
       [0.06128545, 0.91744554],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.40732628, 0.52530205],
       [0.9642078 , 0.01953737],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.97300243, 0.01377669],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.7529904 , 0.19173013],
       [0.34686816, 0.58571404],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.80326205, 0.15074459],
       [0.73400354, 0.21365929],
       [0.34686816, 0.58571404],
       [0.90008134, 0.06719951],
       [0.17299688, 0.77925706],
       [0.54132855, 0.43884817],
       [0.10935193, 0.85435677],
       [0.27781147, 0.6570941 ],
       [0.02948659, 0.95820636],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.69643366, 0.2410907 ],
       [0.8561887 , 0.10305545],
       [0.54132855, 0.43884817],
       [0.31886995, 0.61796033],
       [0.9747467 , 0.01272121],
       [0.54132855, 0.43884817],
       [0.4874206 , 0.45177004],
       [0.65749276, 0.27893052],
       [0.08864902, 0.88348913],
       [0.08637761, 0.8853062 ],
       [0.54132855, 0.43884817],
       [0.81013   , 0.14418508],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.5234666 , 0.40517795],
       [0.297655  , 0.63951766],
       [0.951141  , 0.02842019],
       [0.9375075 , 0.03834227],
       [0.9657105 , 0.01818769],
       [0.54132855, 0.43884817],
       [0.8565305 , 0.10310557],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.08804535, 0.88111335],
       [0.9199094 , 0.05158377],
       [0.94053215, 0.03590921],
       [0.54132855, 0.43884817],
       [0.927808  , 0.04619564],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.86061764, 0.10067219],
       [0.8062478 , 0.1470636 ],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.6602668 , 0.28309393],
       [0.09064487, 0.8785931 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.5050116 , 0.41891927],
       [0.3530095 , 0.5799915 ],
       [0.54132855, 0.43884817],
       [0.912872  , 0.05778877],
       [0.0386364 , 0.9456528 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.9727014 , 0.01412884],
       [0.9742154 , 0.01295262],
       [0.54132855, 0.43884817],
       [0.28566438, 0.64647985],
       [0.3254032 , 0.604122  ],
       [0.54132855, 0.43884817],
       [0.94271564, 0.03397906],
       [0.54132855, 0.43884817],
       [0.8985618 , 0.06810305],
       [0.54132855, 0.43884817],
       [0.09134965, 0.8791293 ],
       [0.07460161, 0.8980781 ],
       [0.08360285, 0.88722324],
       [0.6355001 , 0.30110237],
       [0.54132855, 0.43884817],
       [0.07000199, 0.90871036],
       [0.8039276 , 0.15134904],
       [0.54132855, 0.43884817],
       [0.14327414, 0.8120731 ],
       [0.7432125 , 0.20268002],
       [0.54132855, 0.43884817],
       [0.97585154, 0.01183706],
       [0.94496924, 0.03308488],
       [0.5099846 , 0.41441852],
       [0.54132855, 0.43884817],
       [0.29908362, 0.63120097],
       [0.3091471 , 0.6153226 ],
       [0.6264283 , 0.30783615],
       [0.07056238, 0.90482557],
       [0.54132855, 0.43884817],
       [0.03167567, 0.9555382 ],
       [0.7432125 , 0.20268002],
       [0.10249034, 0.86454827],
       [0.92137057, 0.05107332],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.85558856, 0.1051314 ],
       [0.80861187, 0.1444304 ],
       [0.12952058, 0.82749057],
       [0.54132855, 0.43884817],
       [0.24066108, 0.7048988 ],
       [0.9445303 , 0.03329579],
       [0.4874206 , 0.45177004],
       [0.4805628 , 0.4474528 ],
       [0.08360285, 0.88722324],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.24099952, 0.6967953 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.9509077 , 0.02869264],
       [0.08503146, 0.88421863],
       [0.84099805, 0.11711502],
       [0.54132855, 0.43884817],
       [0.8779471 , 0.0843439 ],
       [0.54132855, 0.43884817],
       [0.10299645, 0.8645774 ],
       [0.06043854, 0.9187984 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.37395152, 0.5524863 ],
       [0.8672383 , 0.09485104],
       [0.1424466 , 0.81424224],
       [0.54132855, 0.43884817],
       [0.92424625, 0.0493717 ],
       [0.96108705, 0.02178115],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.1655844 , 0.7882128 ],
       [0.54132855, 0.43884817],
       [0.951141  , 0.02842019],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.25989133, 0.679145  ],
       [0.54132855, 0.43884817],
       [0.8940169 , 0.07280488],
       [0.33270648, 0.6061791 ],
       [0.05711155, 0.9218445 ],
       [0.8200978 , 0.13467614],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.08503146, 0.88421863],
       [0.44428185, 0.48912174],
       [0.9202606 , 0.05140761],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.06275231, 0.9168091 ],
       [0.54756194, 0.37057662],
       [0.13011892, 0.826734  ],
       [0.54132855, 0.43884817],
       [0.91858757, 0.05267547],
       [0.54756194, 0.37057662],
       [0.9382005 , 0.03820984],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.7385558 , 0.20679201],
       [0.54132855, 0.43884817],
       [0.8436022 , 0.11378146],
       [0.54132855, 0.43884817],
       [0.06579611, 0.91124463],
       [0.54132855, 0.43884817],
       [0.11519068, 0.8492906 ],
       [0.8681846 , 0.09322854],
       [0.96108705, 0.02178115],
       [0.54132855, 0.43884817],
       [0.9073827 , 0.06145423],
       [0.54132855, 0.43884817],
       [0.07357556, 0.90241724],
       [0.9220797 , 0.05007753],
       [0.93243307, 0.04254591],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.840933  , 0.11789551],
       [0.54132855, 0.43884817],
       [0.11629719, 0.84806967],
       [0.08598592, 0.88061017],
       [0.8473809 , 0.11294313],
       [0.47025478, 0.45683226],
       [0.6236301 , 0.31172588],
       [0.69453275, 0.24537921],
       [0.54132855, 0.43884817],
       [0.01113743, 0.9826234 ],
       [0.9315728 , 0.04323812],
       [0.6236301 , 0.31172588],
       [0.37678802, 0.55720615],
       [0.54132855, 0.43884817],
       [0.09897343, 0.8698593 ],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.9225219 , 0.05039614],
       [0.09649347, 0.86678183],
       [0.54132855, 0.43884817],
       [0.08444238, 0.8860787 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.9174978 , 0.05472265],
       [0.43969738, 0.49459687],
       [0.88904095, 0.07614247],
       [0.643131  , 0.2953747 ],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.97635776, 0.01173779],
       [0.5164201 , 0.41176057],
       [0.54132855, 0.43884817],
       [0.9397092 , 0.03720391],
       [0.64268565, 0.29379672],
       [0.09571829, 0.8740496 ],
       [0.80369437, 0.14899111],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.21416605, 0.72513884],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.7792338 , 0.17004019],
       [0.93394125, 0.04127014],
       [0.2308515 , 0.716722  ],
       [0.7241253 , 0.21979316],
       [0.43226612, 0.494882  ],
       [0.8858852 , 0.07847197],
       [0.8988836 , 0.06875791],
       [0.7330464 , 0.21322452],
       [0.82582   , 0.12951489],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.3689897 , 0.55376405],
       [0.11260239, 0.8517712 ],
       [0.8710711 , 0.08853937],
       [0.39936522, 0.52602524],
       [0.92101073, 0.05139586],
       [0.54132855, 0.43884817],
       [0.03104092, 0.95655394],
       [0.28566438, 0.64647985],
       [0.9448696 , 0.03300365],
       [0.91128254, 0.05870605],
       [0.54132855, 0.43884817],
       [0.17360452, 0.77767354],
       [0.35368273, 0.577524  ],
       [0.46999538, 0.46141   ],
       [0.54132855, 0.43884817],
       [0.8598286 , 0.10012902],
       [0.8692066 , 0.09275901],
       [0.54132855, 0.43884817],
       [0.14484811, 0.81343365],
       [0.08515172, 0.88472813],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.6476346 , 0.28504652],
       [0.9026796 , 0.06540306],
       [0.54132855, 0.43884817],
       [0.40732628, 0.52530205],
       [0.88450915, 0.08137602],
       [0.54132855, 0.43884817],
       [0.6514419 , 0.2894101 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.1487837 , 0.8099767 ],
       [0.90008134, 0.06719951],
       [0.49185774, 0.43348435],
       [0.1655844 , 0.7882128 ],
       [0.03524998, 0.9504077 ],
       [0.54132855, 0.43884817],
       [0.12375661, 0.8364699 ],
       [0.9158968 , 0.05488422],
       [0.3091471 , 0.6153226 ],
       [0.76024604, 0.18616758],
       [0.7077105 , 0.23734076],
       [0.87260497, 0.09078082],
       [0.54132855, 0.43884817],
       [0.9036474 , 0.06459843],
       [0.06305549, 0.91662216],
       [0.54756194, 0.37057662],
       [0.38507846, 0.54464346],
       [0.59539306, 0.33335444],
       [0.13644296, 0.82247937],
       [0.9634335 , 0.02005035],
       [0.54132855, 0.43884817],
       [0.05711155, 0.9218445 ],
       [0.5234666 , 0.40517795],
       [0.9391213 , 0.03766064],
       [0.54132855, 0.43884817],
       [0.5259997 , 0.39849854],
       [0.7432125 , 0.20268002],
       [0.54132855, 0.43884817],
       [0.38555542, 0.54572934],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.8908693 , 0.07499996],
       [0.93204427, 0.04164625],
       [0.07892396, 0.8935165 ],
       [0.86161053, 0.09878182],
       [0.05059376, 0.93321824],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.50985384, 0.41931793],
       [0.54132855, 0.43884817],
       [0.96108705, 0.02178115],
       [0.54132855, 0.43884817],
       [0.06762049, 0.9060183 ],
       [0.03512696, 0.94962806],
       [0.54132855, 0.43884817],
       [0.76253736, 0.18719062],
       [0.48966616, 0.43041274],
       [0.54132855, 0.43884817],
       [0.10159706, 0.8655178 ],
       [0.54132855, 0.43884817],
       [0.08379249, 0.8889975 ],
       [0.88806134, 0.07711075],
       [0.901712  , 0.06619508],
       [0.79086363, 0.16248187],
       [0.29344463, 0.6501671 ],
       [0.54132855, 0.43884817],
       [0.10431183, 0.8632072 ],
       [0.17999612, 0.7687688 ],
       [0.0212591 , 0.96853495],
       [0.12989533, 0.82988304],
       [0.23409301, 0.706291  ],
       [0.09762087, 0.8716703 ],
       [0.54132855, 0.43884817],
       [0.89537066, 0.07076724],
       [0.02503283, 0.96390593],
       [0.5378937 , 0.38604733],
       [0.3707895 , 0.56649965],
       [0.54132855, 0.43884817],
       [0.92101073, 0.05139586],
       [0.9133636 , 0.05658637],
       [0.07690056, 0.8962711 ],
       [0.54132855, 0.43884817],
       [0.53357327, 0.39042872],
       [0.54132855, 0.43884817],
       [0.08318876, 0.88898045],
       [0.1907553 , 0.7610342 ],
       [0.54132855, 0.43884817],
       [0.8845169 , 0.08016551],
       [0.9331571 , 0.0421693 ],
       [0.38560468, 0.542359  ],
       [0.89952147, 0.06849167],
       [0.36299583, 0.5707947 ],
       [0.9266636 , 0.04642778],
       [0.06043854, 0.9187984 ],
       [0.36321643, 0.5690967 ],
       [0.4830764 , 0.4451857 ],
       [0.54132855, 0.43884817],
       [0.43098426, 0.4934048 ],
       [0.9458382 , 0.03207015],
       [0.08136754, 0.8882817 ],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.54132855, 0.43884817],
       [0.8778733 , 0.08647459],
       [0.5164201 , 0.41176057],
       [0.9823261 , 0.00811957],
       [0.07889441, 0.89603484],
       [0.54132855, 0.43884817],
       [0.9218333 , 0.0499444 ],
       [0.54132855, 0.43884817],
       [0.94876283, 0.03057354],
       [0.54132855, 0.43884817],
       [0.13478018, 0.8229176 ],
       [0.888501  , 0.07548368],
       [0.07568342, 0.89809656],
       [0.91565865, 0.05475489],
       [0.76253736, 0.18719062],
       [0.97300243, 0.01377669],
       [0.54132855, 0.43884817],
       [0.78752077, 0.1627779 ],
       [0.84785944, 0.10999593],
       [0.08288849, 0.8891135 ],
       [0.54132855, 0.43884817],
       [0.54756194, 0.37057662],
       [0.07914293, 0.89255893],
       [0.8320504 , 0.12189736],
       [0.54132855, 0.43884817],
       [0.9525111 , 0.02764213],
       [0.0863882 , 0.88488585],
       [0.54756194, 0.37057662],
       [0.54132855, 0.43884817],
       [0.49755895, 0.433917  ],
       [0.54132855, 0.43884817],
       [0.8506045 , 0.10794024],
       [0.10607788, 0.8609009 ],
       [0.54132855, 0.43884817],
       [0.40732628, 0.52530205],
       [0.89661133, 0.06973987],
       [0.89954036, 0.06901761]], dtype=float32)